.layout-wrapper {
  max-width: 940px;
  margin: 40px auto;
  padding: 15px;
  border: 4px solid #b3b3b3;
  /* Outer gray border */
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  /* The white space between sections */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.header,
.main-content,
.sidebar,
.twin,
.footer {
  display: flex;
  align-items: center;
}

.header,
.footer {
  justify-content: flex-start;
  padding-left: 20px;
  height: 80px;
}

.main-content,
.sidebar,
.twin {
  justify-content: center;
}

.header {
  grid-column: 1 / -1;
  background-color: #55b0fe;
  /* Light Blue */
}

.main-content {
  grid-column: 1 / span 4;
  background-color: #72c636;
  /* Green */
  height: 250px;
}

.sidebar {
  grid-column: 5 / -1;
  background-color: #b373f2;
  /* Purple */
}

.twin:nth-of-type(4) {
  /* First twin */
  grid-column: 1 / span 3;
}

.twin:nth-of-type(5) {
  /* Second twin */
  grid-column: 4 / -1;
}

.twin {
  background-color: #f7931a;
  /* Orange */
  height: 150px;
}

.footer {
  grid-column: 1 / -1;
  background-color: #0669ce;
  /* Dark Blue */
}